* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  font-family: seg;
  font-size: 14px;
  color: #172b4d;
  min-height: 100vh;

  .smooth-dnd-container {
    min-width: auto;
    min-height: 1px;
    height: min-content;
    max-height: calc(100vh - 200px) !important;

    &:hover {
      min-height: fit-content;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  input {
    font-family: Segoe UI;
    cursor: pointer;
  }

  hr {
    height: 1px;
    background-color: #dfe2e7;
    border: none;
    width: 90%;
    margin: 0 auto;
  }

  input:focus,
  textarea:focus {
    outline-color: $clr-input-ol;
    background-color: $clr-base;
    cursor: auto;
  }

  ::-webkit-scrollbar {
    border-radius: 4px;
    height: 12px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.253);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    margin: 5px;
    border-radius: 4px;
    background: #00000038;
  }

  button {
    cursor: pointer;
  }

  button.btn-default {
    border-radius: 3px;
    border: none;
    padding: 6px 12px;
    font-size: inherit;
    line-height: 1.43;
    font-family: inherit;
    background-color: #091e420a;
    color: #172b4d;

    &:hover {
      background-color: #091e4214;
      color: #091e42;
    }
  }
}